
footer {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .container {
  display: flex;
}

.socials__block {
  margin-left: 70px;
} 

.logo__footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.web__color {
  color: var(--hover-color);
}

.footer__nav {
  margin-top: 20px;
}

.footer__mailto {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer__mailto:last-child {
  margin-bottom: 0;
}

.footer__contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-contact);
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--main-background-color);
}

.social__title {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer__socials {
  display: flex;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
margin-right: 0;
}

.socials__link {
 border-radius: 50%;
  background-color:rgba(255, 255, 255, 0.1);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: #2196F3;
  fill: #ffffff
}

.footer__form {
  margin-left: 93px;
}

.footer__form form {
  display: flex;;
}

.footer__form__title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer__input {
margin-right: 12px;
padding-left: 16px;
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: #2F303A;
color: var(--main-background-color);
}

.footer__input:hover,
.footer__input:focus {
  border-color: var(--hover-color);
}

.footer__button {
width: 200px;
height: 50px;
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: #FFFFFF;
 display: flex;
  align-items: center;
  justify-content: center;
}

.footer__send {
  width: 24px;
  height: 24px;
  background-color: var(--hover-color);
  fill: var(--main-background-color);
  margin-left: 10px;
}